.signup-input-box{
    border-radius: 20px;
    border: solid 0.5px gray;
}

.signup-input-box:hover{
    border-radius: 20px;
    border: solid 0.5px gray;
}

Link{
    text-decoration: none;
}
.login-form-div{
    padding-bottom: 5rem;
}
.signUp-btn:hover{
    background-color:rgb(156, 111, 44);
    color: honeydew;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 25px ;
    border: none;
    margin-left: 1rem;
}
#signUp-txt{
    color: honeydew;
    text-decoration: none;
}
#signUp-txt:hover{
    background-color:rgb(156, 111, 44);
    color: honeydew;
    text-decoration: none;
}